h1,
h2,
h3,
p,
body,
div {
   font-family: Tahoma, Helvetica, sans-serif;
   margin: 0;
   padding: 0;

}

h1 {
   font-size: 1.8em;
   margin: 0.25em 0 0.25em 0;
}

h2 {
   font-size: 1.2em;
   margin: 0.5em 0 0.25em 0;
}

p,
body {
   font-size: 0.9em;
}

p {
   margin-bottom: 1em;
}

body {
   background-color: white;
}

article {
   background-color: #F5F5F5;
   margin: 6em;
}

article div {
   clear: right;

}

figure {
   position: relative;
   float: left;
}

figcaption {
   position: relative;
   width: 143px;
   background-color: black;
   color: white;
   height: 20px;
   top: -23px;
   padding: 0em 0em 0em 0.5em;
}

.overlayed {
   position: absolute;
   bottom: 24px;
   left: 0px;
}

.entry {
   overflow: auto;
   border-top: 1pt solid #ff8800;
}

.linkbutton {
   background-color: #ff8800;
   color: white;
   text-decoration: none;
   font-size: 0.75em;
   float: right;
   padding: 1em;
   margin-right: 6em;
}


footer {
   background-color: #474747;
   color: #cacaca;
   padding: 3em;
}

footer h2 {
   color: #a4a1a1;
}

.footer-related {
   border-top: 1pt solid #ff8800;
   float: left;
   margin-right: 3em;
}

.footer-section {
   border-top: 1pt solid #ff8800;
}

.footer-related img {
   margin: 3px;
   float: none;
   margin: none;
   position: none;
}